/* Start date button */
.rdp-range_start .rdp-day_button {
  background-color: #1B456F;
  border: 3px solid #132F4C;
}

/* End date button */
.rdp-range_end .rdp-day_button {
  background-color: #1B456F;
  border: 3px solid #132F4C;

}

/* Middle range */
.rdp-range_middle .rdp-day_button {
  background-color: #132F4C;
}

/* Remove background from the outer cell entirely */
.rdp-range_start,
.rdp-range_end {
  background-color: transparent !important;
}

.rdp-root {
  --rdp-day-width: 32px;
  --rdp-day-height: 32px;
  --rdp-accent-color: #132F4C;
  --rdp-range_start-background: linear-gradient(var(--rdp-gradient-direction), transparent 50%, #132F4C 50%);
  --rdp-range_end-background: linear-gradient(var(--rdp-gradient-direction), #132F4C 50%, transparent 50%);
  --rdp-today-color: #007fff;
  --rdp-day_button-height: 32px;
  --rdp-day_button-width: 32px;
}

/* Change size for all days */
.rdp-day {
  color: #EBEBEB;
  text-align: center;
  /* text-regular/sm */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}